body{
    margin: 2rem 2rem;
}
figure {
    margin: 0;
    width: 30%;
    border: 1px solid;
    /* background-color: red; */
}

img {
    
    width: 100%;
    max-width: 1300px;
    display: block;
}
